doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gallery
        link(rel="stylesheet", href="styles.scss")
    body
        .wrapper 
            - var n = 0
            - var g = 0
            .gallery
                ul.gallery__list
                    while n < 34
                        - n++
                        li.gallery__item
                            a(class="gallery__link" target="_blank")
                                img(
                                    src= n + "-497x600.jpg" 
                                    srcset= n + "-497x600.jpg 497w," + n + "-662x800.jpg 662w," + n + "-994x1200.jpg 994w," + n + "-1325x1600.jpg 1325w" 
                                    sizes="20vw" 
                                    alt="Фото монтажа"
                                    class="gallery__image")
                                img(class="gallery__spacer", src="29x35.gif", alt="Картинка")
                                .gallery__content
                                    .gallery__name Ecomaster
                                    .gallery__model WL 2 Firewall
                                    .gallery__type Напольные пурифайеры

        script(src="index.js")
        